# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ide
.vscode
.idea

# python venv
*.venv

clang-format-all.sh

*.csv

bin/*

MVM_CHUNK/temp/*
MVM_CHUNK/user-defined/translate-to-binary

MVM_GRID_CKPT/temp/*
MVM_GRID_CKPT/user-defined/translate-to-binary

MVM_GRID_CKPT_SAVE/temp/*
MVM_GRID_CKPT_SAVE/user-defined/translate-to-binary

MVM_MMAP_MV/temp/*
MVM_MMAP_MV/user-defined/translate-to-binary